body {
  position: relative;
  background:black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  
}
.main-container {
  width: 433px;
  height: 864px;
  border-radius: 50px;
  background: white;
  overflow-y: auto;
}
.screen-contents {
  width: 433px;

}
nav {
  display: flex;
  justify-content: flex-start;
  padding-top: 50px;
  padding-left: 50px;
}
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.calc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.output {
  width: 433px;
  height: 150px;  
}
.previous-operand {
display: flex;
align-items: center;
justify-content: flex-end;
color: rgba(33, 38, 56, 0.5);
font-style: normal;
font-weight: normal;
font-size: 50px;
padding-right:10%;
}
.current-operand {
display: flex;
align-items: center;
justify-content: flex-end;
color: #212638;
font-style: normal;
font-weight: normal;
font-size: 70px;
padding-right:10%;
}

.buttons {
  margin-top: 10%;
  display: grid;   
  grid-template-columns: repeat(4, 70px);  
  grid-template-rows: repeat(5, 70px);
  margin-left: 10%;

}

.span-two {  
  grid-column: span 2;  
}  

button {  
  font-size: 2rem;  
  border: 1px solid white;  
  outline: none;    
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #5E60CE;
  color: white;
}
#button-ac {
  background: #48BFE3;
}
#button-del {
  width: 135px;
  border-radius: 40px;
  background: #48BFE3;
}
#button-zero {
  width: 135px;
  border-radius: 40px;
}
#button-one,
#button-two,
#button-three,
#button-four,
#button-five,
#button-six,
#button-seven,
#button-eight,
#button-nine,
#button-zero,
#button-dot 
{
  background-color: #01497C
}