background: #E5E5E5;

/* Home/Menu */

position: relative;
width: 542px;
height: 970px;

background: #FFFFFF;


/* Device Template/iPhone X */

position: absolute;
width: 433px;
height: 864px;
left: 55px;
top: 53px;



/* body */

position: absolute;
left: 0.69%;
right: 0.69%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 50px;


/* button */

position: absolute;
left: 99.31%;
right: 0%;
top: 23.11%;
bottom: 65.28%;



/* button */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 13.5%;
bottom: 82.64%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 20.76%;
bottom: 72.11%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 29.98%;
bottom: 62.89%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* screen (replace with image fill) */

position: absolute;
width: 375.29px;
height: 812px;
left: 28.69px;
top: 26px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 28.69px;
right: 29.02px;
top: 26px;
bottom: 26px;

background: #C4C4C4;
opacity: 0.5;
border-radius: 30px;


/* Rectangle 2 */

position: absolute;
height: 29.67px;
left: 24.81%;
right: 24.81%;
top: 26px;

background: #C4C4C4;


/* Buttons/Primary/Normal */

position: absolute;
left: 14.32%;
right: 14.55%;
top: 29.98%;
bottom: 63.08%;



/* bg */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #5E60CE;
border-radius: 5px;


/* Label */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

/* #FFFFFF - White */
color: #FFFFFF;



/* Buttons/Primary/Normal */

position: absolute;
left: 14.32%;
right: 14.55%;
top: 48.03%;
bottom: 45.02%;



/* bg */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #5E60CE;
border-radius: 5px;


/* Label */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

/* #FFFFFF - White */
color: #FFFFFF;



/* Buttons/Primary/Normal */

position: absolute;
left: 0%;
right: 0%;
top: 258.33%;
bottom: -258.33%;



/* bg */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #5E60CE;
border-radius: 5px;


/* Label */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

/* #FFFFFF - White */
color: #FFFFFF;



/* logo 1 */

position: absolute;
width: 50px;
height: 50px;
left: 191px;
top: 108px;

background: url(logo.png);


/* Toogle Switches */

position: absolute;
width: 53.6px;
height: 32.51px;
left: 378px;
top: 817px;



/* Toogle Switch */

position: absolute;
width: 53.6px;
height: 32.51px;
left: 378px;
top: 817px;



/* Toogle Switch/ON */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Toogle Switch/ON/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #56C568 - Success/Positive Green */
background: #56C568;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 4.55%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;


/* Toogle Switch/ON/Disabled */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #56C568 - Success/Positive Green */
background: #56C568;
opacity: 0.4;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 4.55%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;
opacity: 0.8;


/* Toogle Switch/OFF */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Toogle Switch/OFF/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #525252 - Dark Grey 2 */
background: #525252;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 4.55%;
right: 50%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;


/* Toogle Switch/OFF/Disabled */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #525252 - Dark Grey 2 */
background: #525252;
opacity: 0.4;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 4.55%;
right: 50%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;
opacity: 0.4;


/* Calculator */

position: relative;
width: 542px;
height: 970px;

background: #FFFFFF;


/* Device Template/iPhone X */

position: absolute;
width: 433px;
height: 864px;
left: 55px;
top: 49px;



/* body */

position: absolute;
left: 0.69%;
right: 0.69%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 50px;


/* button */

position: absolute;
left: 99.31%;
right: 0%;
top: 23.11%;
bottom: 65.28%;



/* button */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 13.5%;
bottom: 82.64%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 20.76%;
bottom: 72.11%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 29.98%;
bottom: 62.89%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* screen (replace with image fill) */

position: absolute;
width: 375.29px;
height: 812px;
left: 28.69px;
top: 26px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 28.69px;
right: 29.02px;
top: 26px;
bottom: 26px;

background: #C4C4C4;
opacity: 0.5;
border-radius: 30px;


/* Rectangle 2 */

position: absolute;
height: 29.67px;
left: 24.81%;
right: 24.81%;
top: 26px;

background: #C4C4C4;


/* Buttons/Primary/Normal */

position: absolute;
visibility: hidden;
left: 14.32%;
right: 14.55%;
top: 29.98%;
bottom: 63.08%;



/* Buttons/Primary/Normal */

position: absolute;
visibility: hidden;
left: 14.32%;
right: 14.55%;
top: 48.03%;
bottom: 45.02%;



/* logo 1 */

position: absolute;
visibility: hidden;
width: 50px;
height: 50px;
left: 191px;
top: 108px;

background: url(logo.png);


/* Toogle Switches */

position: absolute;
width: 53.6px;
height: 32.51px;
left: 378px;
top: 823px;



/* Toogle Switch */

position: absolute;
width: 53.6px;
height: 32.51px;
left: 378px;
top: 823px;



/* Toogle Switch/ON */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Toogle Switch/ON/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #56C568 - Success/Positive Green */
background: #56C568;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 4.55%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;


/* Toogle Switch/ON/Disabled */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #56C568 - Success/Positive Green */
background: #56C568;
opacity: 0.4;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 4.55%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;
opacity: 0.8;


/* Toogle Switch/OFF */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* iPhone X */

position: absolute;
width: 316px;
height: 510px;
left: 130px;
top: 283px;

background: #FFFFFF;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 252px;
top: 100px;

background: #5E60CE;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 0px;
top: 100px;

background: #48BFE3;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 252px;
top: 186px;

background: #5E60CE;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 168px;
top: 186px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 84px;
top: 186px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 0px;
top: 186px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 252px;
top: 272px;

background: #5E60CE;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 168px;
top: 272px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 84px;
top: 272px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 0px;
top: 272px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 252px;
top: 358px;

background: #5E60CE;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 168px;
top: 358px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 84px;
top: 358px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 0px;
top: 358px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 252px;
top: 444px;

background: #5E60CE;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 168px;
top: 444px;

background: #01497C;


/* Group 2 */

position: absolute;
width: 148px;
height: 66px;
left: 0px;
top: 444px;



/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 0px;
top: 444px;

background: #01497C;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 84px;
top: 444px;

background: #01497C;


/* Rectangle */

position: absolute;
width: 82px;
height: 66px;
left: 32px;
top: 444px;

background: #01497C;


/* Group 3 */

position: absolute;
width: 148px;
height: 66px;
left: 84px;
top: 100px;



/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 84px;
top: 100px;

background: #48BFE3;


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 168px;
top: 100px;

background: #48BFE3;


/* Rectangle */

position: absolute;
width: 82px;
height: 66px;
left: 116px;
top: 100px;

background: #48BFE3;


/* AC */

position: absolute;
width: 43px;
height: 42px;
left: 11px;
top: 112px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 7 */

position: absolute;
width: 43px;
height: 42px;
left: 10px;
top: 198px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 8 */

position: absolute;
width: 43px;
height: 42px;
left: 95px;
top: 198px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 9 */

position: absolute;
width: 43px;
height: 42px;
left: 179px;
top: 198px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* x */

position: absolute;
width: 43px;
height: 42px;
left: 263px;
top: 198px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* - */

position: absolute;
width: 19px;
height: 75px;
left: 275px;
top: 268px;

font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 64px;
line-height: 75px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 6 */

position: absolute;
width: 43px;
height: 42px;
left: 179px;
top: 284px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 5 */

position: absolute;
width: 43px;
height: 42px;
left: 95px;
top: 284px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 4 */

position: absolute;
width: 43px;
height: 42px;
left: 10px;
top: 284px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 1 */

position: absolute;
width: 43px;
height: 42px;
left: 10px;
top: 370px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 2 */

position: absolute;
width: 43px;
height: 42px;
left: 95px;
top: 370px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 3 */

position: absolute;
width: 43px;
height: 42px;
left: 179px;
top: 370px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* + */

position: absolute;
width: 43px;
height: 42px;
left: 263px;
top: 370px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* = */

position: absolute;
width: 43px;
height: 42px;
left: 263px;
top: 456px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* . */

position: absolute;
width: 43px;
height: 42px;
left: 179px;
top: 456px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 0 */

position: absolute;
width: 43px;
height: 42px;
left: 10px;
top: 456px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 4 */

position: absolute;
width: 43px;
height: 57px;
left: 263px;
top: 0px;

font-family: Chathura;
font-style: normal;
font-weight: normal;
font-size: 130px;
line-height: 211px;
display: flex;
align-items: center;
text-align: center;

color: #212638;



/* DEL */

position: absolute;
width: 103px;
height: 42px;
left: 108px;
top: 112px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* ÷ */

position: absolute;
width: 43px;
height: 42px;
left: 263px;
top: 112px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* 2x2 */

position: absolute;
width: 65px;
height: 46px;
left: 371px;
top: 222px;

font-family: Chathura;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 114px;
display: flex;
align-items: center;
text-align: center;

color: rgba(33, 38, 56, 0.5);



/* logo 1 */

position: absolute;
width: 50px;
height: 50px;
left: 118px;
top: 142px;

background: url(logo.png);


/* Tip Calculator */

position: relative;
width: 542px;
height: 970px;

background: #FFFFFF;


/* Device Template/iPhone X */

position: absolute;
width: 433px;
height: 864px;
left: 55px;
top: 53px;



/* body */

position: absolute;
left: 0.69%;
right: 0.69%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 50px;


/* button */

position: absolute;
left: 99.31%;
right: 0%;
top: 23.11%;
bottom: 65.28%;



/* button */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 13.5%;
bottom: 82.64%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 20.76%;
bottom: 72.11%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 29.98%;
bottom: 62.89%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* screen (replace with image fill) */

position: absolute;
width: 375.29px;
height: 812px;
left: 28.69px;
top: 26px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 28.69px;
right: 29.02px;
top: 26px;
bottom: 26px;

background: #C4C4C4;
opacity: 0.5;
border-radius: 30px;


/* Rectangle 2 */

position: absolute;
height: 29.67px;
left: 24.81%;
right: 24.81%;
top: 26px;

background: #C4C4C4;


/* Buttons/Primary/Normal */

position: absolute;
visibility: hidden;
left: 14.32%;
right: 14.55%;
top: 29.98%;
bottom: 63.08%;



/* Buttons/Primary/Normal */

position: absolute;
visibility: hidden;
left: 14.32%;
right: 14.55%;
top: 48.03%;
bottom: 45.02%;



/* logo 1 */

position: absolute;
visibility: hidden;
width: 50px;
height: 50px;
left: 191px;
top: 108px;

background: url(logo.png);


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 239px;
top: 485px;

background: #5E60CE;


/* Tip Amount: */

position: absolute;
width: 103px;
height: 21px;
left: 112px;
top: 582px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #333333;



/* Total Amount of Bill: */

position: absolute;
width: 164px;
height: 22px;
left: 112px;
top: 662px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Input Text Field/No Label */

position: absolute;
width: 281px;
height: 52px;
left: 118px;
top: 401px;



/* Input Text Field/Disabled */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Input Text Field/Error */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Input Text Field/Focused and Typing */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Input Text Field/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* field */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #FFFFFF - White */
background: #FFFFFF;
/* #D4D4D4 - Light Grey */
border: 1px solid #D4D4D4;
box-sizing: border-box;
border-radius: 6px;


/* $ */

position: absolute;
width: 11px;
height: 17px;
left: 12px;
top: calc(50% - 17px/2 + 0.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */

/* #959595 - Mid Grey 2 */
color: #959595;



/* Tip (%) : */

position: absolute;
width: 66px;
height: 22px;
left: 118px;
top: 376px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Bill ($) : */

position: absolute;
width: 62px;
height: 22px;
left: 118px;
top: 284px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Previous Bill Amounts: */

position: absolute;
width: 182px;
height: 22px;
left: 112px;
top: 747px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Tip Calculator */

position: absolute;
width: 150px;
height: 29px;
left: 196px;
top: 228px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height */

color: #333333;



/* = */

position: absolute;
width: 43px;
height: 42px;
left: 250px;
top: 497px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Input Text Field/No Label */

position: absolute;
width: 281px;
height: 52px;
left: 118px;
top: 312px;



/* Input Text Field/Disabled */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* field */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #EAEAEA - Background Grey */
background: #EAEAEA;
/* #D4D4D4 - Light Grey */
border: 1px solid #D4D4D4;
box-sizing: border-box;
border-radius: 6px;


/* Placeholder text... */

position: absolute;
width: 112px;
height: 17px;
left: 12px;
top: calc(50% - 17px/2 + 0.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */

/* #959595 - Mid Grey 2 */
color: #959595;



/* Input Text Field/Error */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* field */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #FFFFFF - White */
background: #FFFFFF;
/* #EB5757 - Error/Negative Red */
border: 1px solid #EB5757;
box-sizing: border-box;
border-radius: 6px;


/* Placeholder text... */

position: absolute;
width: 112px;
height: 17px;
left: 12px;
top: calc(50% - 17px/2 + 0.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */

/* #959595 - Mid Grey 2 */
color: #959595;



/* Input Text Field/Focused and Typing */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* field */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #FFFFFF - White */
background: #FFFFFF;
/* #3FA2F7 - Links/Informational Blue */
border: 1px solid #3FA2F7;
box-sizing: border-box;
border-radius: 6px;


/* Typing| */

position: absolute;
width: 45px;
height: 17px;
left: 12px;
top: calc(50% - 17px/2 + 0.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */

/* #333333 - Dark Grey */
color: #333333;



/* Input Text Field/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* field */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #FFFFFF - White */
background: #FFFFFF;
/* #D4D4D4 - Light Grey */
border: 1px solid #D4D4D4;
box-sizing: border-box;
border-radius: 6px;


/* $ */

position: absolute;
width: 8px;
height: 17px;
left: 12px;
top: calc(50% - 17px/2 + 0.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */

/* #959595 - Mid Grey 2 */
color: #959595;



/* Toogle Switches */

position: absolute;
width: 53.6px;
height: 32.51px;
left: 378px;
top: 823px;



/* Toogle Switch */

position: absolute;
width: 53.6px;
height: 32.51px;
left: 378px;
top: 823px;



/* Toogle Switch/ON */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Toogle Switch/ON/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #56C568 - Success/Positive Green */
background: #56C568;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 4.55%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;


/* Toogle Switch/ON/Disabled */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #56C568 - Success/Positive Green */
background: #56C568;
opacity: 0.4;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 4.55%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;
opacity: 0.8;


/* Toogle Switch/OFF */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* logo 1 */

position: absolute;
width: 50px;
height: 50px;
left: 118px;
top: 142px;

background: url(logo.png);


/* Suggested Tip */

position: relative;
width: 542px;
height: 970px;

background: #FFFFFF;


/* Device Template/iPhone X */

position: absolute;
width: 433px;
height: 864px;
left: 54px;
top: 53px;



/* body */

position: absolute;
left: 0.69%;
right: 0.69%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 50px;


/* button */

position: absolute;
left: 99.31%;
right: 0%;
top: 23.11%;
bottom: 65.28%;



/* button */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 13.5%;
bottom: 82.64%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 20.76%;
bottom: 72.11%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 29.98%;
bottom: 62.89%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* screen (replace with image fill) */

position: absolute;
width: 375.29px;
height: 812px;
left: 28.69px;
top: 26px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 28.69px;
right: 29.02px;
top: 26px;
bottom: 26px;

background: #C4C4C4;
opacity: 0.5;
border-radius: 30px;


/* Rectangle 2 */

position: absolute;
height: 29.67px;
left: 24.81%;
right: 24.81%;
top: 26px;

background: #C4C4C4;


/* Buttons/Primary/Normal */

position: absolute;
visibility: hidden;
left: 14.32%;
right: 14.55%;
top: 29.98%;
bottom: 63.08%;



/* Buttons/Primary/Normal */

position: absolute;
visibility: hidden;
left: 14.32%;
right: 14.55%;
top: 48.03%;
bottom: 45.02%;



/* logo 1 */

position: absolute;
visibility: hidden;
width: 50px;
height: 50px;
left: 191px;
top: 108px;

background: url(logo.png);


/* Device Template/iPhone X */

position: absolute;
width: 433px;
height: 864px;
left: 51px;
top: 65px;



/* body */

position: absolute;
left: 0.69%;
right: 0.69%;
top: 0%;
bottom: 0%;

background: #000000;
border-radius: 50px;


/* button */

position: absolute;
left: 99.31%;
right: 0%;
top: 23.11%;
bottom: 65.28%;



/* button */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 13.5%;
bottom: 82.64%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 20.76%;
bottom: 72.11%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 0.69%;
right: 98.61%;
top: 29.98%;
bottom: 62.89%;

transform: matrix(-1, 0, 0, 1, 0, 0);


/* button */

position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #000000;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* screen (replace with image fill) */

position: absolute;
width: 375.29px;
height: 812px;
left: 28.69px;
top: 26px;

background: #FFFFFF;


/* Rectangle */

position: absolute;
left: 28.69px;
right: 29.02px;
top: 26px;
bottom: 26px;

background: #C4C4C4;
opacity: 0.5;
border-radius: 30px;


/* Rectangle 2 */

position: absolute;
height: 29.67px;
left: 24.81%;
right: 24.81%;
top: 26px;

background: #C4C4C4;


/* Buttons/Primary/Normal */

position: absolute;
visibility: hidden;
left: 14.32%;
right: 14.55%;
top: 29.98%;
bottom: 63.08%;



/* Buttons/Primary/Normal */

position: absolute;
visibility: hidden;
left: 14.32%;
right: 14.55%;
top: 48.03%;
bottom: 45.02%;



/* logo 1 */

position: absolute;
visibility: hidden;
width: 50px;
height: 50px;
left: 191px;
top: 108px;

background: url(logo.png);


/* Ellipse */

position: absolute;
width: 64px;
height: 66px;
left: 236px;
top: 485px;

background: #5E60CE;


/* A 10% tip would be */

position: absolute;
width: 273px;
height: 26px;
left: 117px;
top: 582px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Total Bill: $ */

position: absolute;
width: 273px;
height: 26px;
left: 117px;
top: 608px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Total Bill: $ */

position: absolute;
width: 273px;
height: 26px;
left: 117px;
top: 677px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Total Bill: $ */

position: absolute;
width: 273px;
height: 26px;
left: 117px;
top: 735px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* A 15% tip would be */

position: absolute;
width: 153px;
height: 22px;
left: 117px;
top: 655px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Bill ($) : */

position: absolute;
width: 62px;
height: 22px;
left: 130px;
top: 326px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* A 18% tip would be */

position: absolute;
width: 251px;
height: 22px;
left: 117px;
top: 713px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* A 20% tip would be */

position: absolute;
width: 251px;
height: 22px;
left: 117px;
top: 771px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Total Bill: $ */

position: absolute;
width: 273px;
height: 26px;
left: 117px;
top: 793px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #333333;



/* Suggested Tip */

position: absolute;
width: 155px;
height: 29px;
left: 194px;
top: 228px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height */

color: #333333;



/* = */

position: absolute;
width: 43px;
height: 42px;
left: 246px;
top: 497px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



/* Input Text Field/No Label */

position: absolute;
width: 281px;
height: 52px;
left: 130px;
top: 367px;



/* Input Text Field/Disabled */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Input Text Field/Error */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Input Text Field/Focused and Typing */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Input Text Field/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* field */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #FFFFFF - White */
background: #FFFFFF;
/* #D4D4D4 - Light Grey */
border: 1px solid #D4D4D4;
box-sizing: border-box;
border-radius: 6px;


/* $ */

position: absolute;
width: 8px;
height: 17px;
left: 12px;
top: calc(50% - 17px/2 + 0.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */

/* #959595 - Mid Grey 2 */
color: #959595;



/* Toogle Switches */

position: absolute;
width: 53.6px;
height: 32.51px;
left: 377px;
top: 823px;



/* Toogle Switch */

position: absolute;
width: 53.6px;
height: 32.51px;
left: 377px;
top: 823px;



/* Toogle Switch/ON */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Toogle Switch/ON/Default */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #56C568 - Success/Positive Green */
background: #56C568;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 4.55%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;


/* Toogle Switch/ON/Disabled */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 153 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* #56C568 - Success/Positive Green */
background: #56C568;
opacity: 0.4;
border-radius: 100px;


/* Ellipse 30 */

position: absolute;
left: 50%;
right: 4.55%;
top: 8.33%;
bottom: 8.33%;

/* #FFFFFF - White */
background: #FFFFFF;
opacity: 0.8;


/* Toogle Switch/OFF */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* logo 2 */

position: absolute;
width: 50px;
height: 50px;
left: 117px;
top: 142px;

background: url(logo.png);
