body {
  position: relative;
  background: #c4c4c4;
  display: flex;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 433px;
  height: 864px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  border-radius: 50px;
  background: white;
}
.screen-contents {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-bottom: 20px;
}
a {
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(94, 96, 206, 1);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  border-radius: 5%;
  text-decoration: none;
}
nav {
  padding-top: 50px;
}