body {
  position: relative;
  background: #e5e5e5;
  display: flex;
  height: 100vh;
  width: auto;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 433px;
  height: 864px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  border-style: #000000;
  border-radius: 50px;
  background: #c4c4c4;
}
.screen-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
