body {
  position: relative;
  background: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-container {
  width: 433px;
  height: 864px;
  border-radius: 50px;
  background: white;
}
.screen-contents {
  width: 433px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
nav {
  display: flex;
  justify-content: flex-start;
  padding: 50px;
}
.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
